<div>
  <div class="w3-container w3-padding-64 w3-red w3-grayscale w3-xlarge">
    <div class="w3-content">
      <h1 class="w3-center w3-jumbo" style="margin-bottom:64px">Despre noi</h1>
      <p>Foodify a fost fondat în Chișinău de către Adelina și Liviu-Adrian.</p>
      <p><strong>Chef? </strong>Adelina <img src="./assets/images/adelina.jpg" style="width:150px" class="w3-circle w3-right" alt="Chef"></p>
      <p>Suntem mândri de interiorul restaurantului nostru.</p>
      <img src="./assets/images/interior.jpg" style="width:100%" class="w3-margin-top w3-margin-bottom" alt="Restaurant">
      <h1><b>Programul de lucru</b></h1>

      <div class="w3-row">
        <div class="w3-col s6">
          <p>Luni & Marți ÎNCHIS</p>
          <p>Miercuri 10.00 - 24.00</p>
          <p>Joi 10:00 - 24:00</p>
        </div>
        <div class="w3-col s6">
          <p>Vineri 10:00 - 04:00</p>
          <p>Sâmbătă 10:00 - 04:00</p>
          <p>Duminică 10:00 - 23:00</p>
        </div>
      </div>

    </div>
  </div>
</div>
