<nav class="w3-top w3-hide-small">
  <div class="w3-top w3-hide-small">
    <div class="w3-bar w3-xlarge w3-black w3-opacity w3-hover-opacity-off">
        <a class="navbar-brand" routerLink="/">Foodify</a>
        <a class="w3-bar-item w3-button" routerLink="/menu">MENIU <span class="sr-only">(current)</span></a>

        <a class="w3-bar-item w3-button" routerLink="/about-us">DESPRE NOI</a>

        <a class="w3-bar-item w3-button" routerLink="/contacts">REZERVĂ O MASĂ</a>

        <a *ngIf="!(isLoggedIn())" class="w3-bar-item w3-button" routerLink="/login">Login</a>
        <a *ngIf="isLoggedIn()" (click)="delogare()" class="w3-bar-item w3-button">Delogare</a>

    </div>
  </div>
</nav>

