<div class="bgimg display-container grayscale-min">
  <img src="assets/images/backgroundimage.jpg">
  <div class="display-bottomleft padding">
    <span class="tag xlarge">Deschis de la 10:00 până la 23:00</span>
  </div>
  <div class="display-middle center">
    <span class="" style="font-size:100px">PIZZA<br>cu blat subțire</span>
    <span class="text-white hide-large hide-medium" style="font-size:60px"><b>PIZZA<br>cu blat subțire</b></span>
    <p><a class="button xxlarge black">Vreau să văd meniul</a></p>
  </div>
</div>
