<p>You can use alternative markup without <code>ul li</code> elements</p>

<nav ngbNav #nav="ngbNav" class="nav-tabs">
  <ng-container ngbNavItem>
    <a ngbNavLink>One</a>
    <ng-template ngbNavContent>
      <div *ngIf="pizzas.length">
        <p class="text-color">{{ titlePizza }}</p>
        <li *ngFor="let pizza of pizzas">
          <span>Name: {{ pizza.name }}</span>
          <span>Price: {{ pizza.price }}</span>
          <span>Available: {{ pizza.in_stock ? "YES" : "NO" }}</span>
        </li>
      </div>
    </ng-template>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink>Two</a>
    <ng-template ngbNavContent>
      <div *ngIf="pastas.length">
        <p class="text-color">{{ titlePasta }}</p>
        <li *ngFor="let pasta of pastas">
          <span>Name: {{ pasta.name }}</span>
          <span>Price: {{ pasta.price }}</span>
          <span>Available: {{ pasta.in_stock ? "YES" : "NO" }}</span>
        </li>
      </div>
    </ng-template>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink>Three</a>
    <ng-template ngbNavContent>
      <div *ngIf="startere.length">
        <p class="text-color">{{ titleStartere }}</p>
        <li *ngFor="let starter of startere">
          <span>Name: {{ starter.name }}</span>
          <span>Price: {{ starter.price }}</span>
          <span>Available: {{ starter.in_stock ? "YES" : "NO" }}</span>
        </li>
      </div>
    </ng-template>
  </ng-container>
</nav>

<div [ngbNavOutlet]="nav" class="mt-2"></div>


